
<div class="hidden-xs">
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/all/" class="big_pos">Новини</a><br/>
      <a href="/news/city/">Луцьк</a><br/>
      <a href="/news/volyn/">Волинь</a><br/>
      <a href="/news/ukraine/">Україна</a><br/>
      <a href="/news/world/">Світ</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/policy/" class="big_pos">Політика</a><br/>
      <a href="/news/authority/">Влада</a><br/>
      <a href="/news/party/">Партії</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/economy/" class="big_pos">Економіка</a><br/>
      <a href="/news/economics/">Гроші</a><br/>
      <a href="/news/business/">Бізнес</a><br/>
      <a href="/news/realty/">Нерухомість</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/society/" class="big_pos">Соціум</a><br/>
      <a href="/news/health/">Медицина</a><br/>
      <a href="/news/education/">Освіта</a><br/>
      <a href="/news/environment/">Довкілля</a><br/>
      <a href="/news/rest/">Вікенд</a><br/>
      <a href="/news/religion/">Релігія</a><br/>
      <a href="/news/charity/">Благодійництво</a><br/>
      <a href="/news/tehno/">Техно, IT</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/culture/" class="big_pos">Культура</a><br/>
      <a href="/news/music/">Музика</a><br/>
      <a href="/news/movie/">Кіно</a><br/>
      <a href="/news/literature/">Література</a><br/>
      <a href="/news/art/">Мистецтво</a><br/>
      <a href="/news/istoriya/">Історія</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/anonsi/" class="big_pos">Анонси</a><br/>
      <a href="/news/topanons/">ТОП-анонс</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/extreme/" class="big_pos">НП</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/auto/" class="big_pos">Авто</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/sport/" class="big_pos">Спорт</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/tabloid/" class="big_pos">Таблоїд</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/vn_projects/" class="big_pos">Проекти ВН</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/interview/" class="big_pos">Інтерв'ю</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/analytics/" class="big_pos">Аналітика</a><br/>
    </div>

    <div class="block_a">
      <a href="/news/aktsenti/" class="big_pos">Акценти</a><br/>
    </div>
  </div>
  <div class="cat-footer-column pull-left">
    <div class="block_a">
      <a href="/news/tribuna/" class="big_pos">Трибуна</a><br/>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<div
  class="fon_line1 row-fluid span12 vidst_foot marg_null hidden-xs"></div>
<div class="pull-left row-fluid span5 span12-sm span12-xs footer_bottom">
  <a href="/" class="footer_logo span12-xs span6-sm">
    <img src="{{ base_path ~ directory }}/images/logo_footer.png" alt=" " width="201"
         height="44">
  </a>
  <span
    class="text_footer_b span12 marg_null padd_t3 footer_text span12-xs span6-sm">
					Інформаційне агентство Волинські Новини.<br>2019 Всі права захищені				</span>
  <div class="footer_menu">
    <span class="pull-left"><a href="/about/"
                               class="text_footer_b_a">Про нас</a></span>
    <span class="pull-left"><a href="/contacts/" class="text_footer_b_a">Контакти</a></span>
    <span class="pull-left"><a href="/adv/" class="text_footer_b_a">Рекламодавцям</a></span>
  </div>
  <div style="clear:both;"></div>
</div>
<div class="pull-right row-fluid span4 marg_null search_foot">

    {{ page.footer['searchform_2'] }}

  <div class="pull-right soc_merezha mar_ri131 marg_t30"
       style="width:120px;">
    <a href="https://www.facebook.com/volynnews">
      <div class="pull-left soc_merezha">
        <img src="{{ base_path ~ directory }}/images/face.png" width="27" height="27" alt=" ">
      </div>
    </a>
    <a href="https://twitter.com/volynnews_com">
      <div class="pull-left soc_merezha">
        <img src="{{ base_path ~ directory }}/images/twitter.png" width="27" height="27"
             alt=" ">
      </div>
    </a>
    <a href="https://www.youtube.com/channel/UC-zv2jqax3GKtLCjycy4FDg">
      <div class="pull-left soc_merezha">
        <img src="{{ base_path ~ directory }}/images/photo.png" width="27" height="27"
             alt=" ">
      </div>
    </a>
    <!--<a href="https://vk.com/volynnews"><div class="pull-left soc_merezha">
        <img src="/public/images/vk.png" width="27" height="27" alt=" ">
      </div></a>-->
    <a href="https://www.instagram.com/volynnews/">
      <div class="pull-left soc_merezha">
        <img src="{{ base_path ~ directory }}/images/instagram.png" width="27" height="27"
             alt=" ">
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>
<div class="row-fluid bottom_reclama">
  <div class="view_block block_470x75 pull-right"
       data-view-code="13"></div>
</div>
<div class="row-fluid bottom_reclama">
  <div class="view_block block_470x75 pull-right"
       data-view-code="13_г"></div>
</div>

<div style="clear:both;"></div>
